.App {
  text-align: center;
  color: 
}
body {
    margin: 10%;
    text-align: center;
    background-color: #004b66;
    color: white;
}
h1{
  font-size: 4em;
}
h2{
  font-size: 2em;
}
.btn {
    margin: 10px;
    font-size: 2em;
}

.drum-pad {
    border-radius: 20px;
    width: 150px;
    height: 100px;
    font-weight: bold;
    font-size:3em;
    margin: 5px;
    color: #004b66;
    background-color:#99e4ff;
}

#display {
    height: 70px;
        
}